<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="https://static.cdninstagram.com/rsrc.php/v3/yt/r/30PrGfR3xhB.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>
<body>
    <div id="main">
       <div id="page">
        <div id="container">
             <div id="part1">
             <div id="img">
                <img src="/images/iphoneimg.png" alt="">
             </div>
            
             <div class="img">
                <img  src="/images/screenshot1.png" alt="">
                <img  src="/images/screenshot2.png" alt="">
                <img  src="/images/screenshot3.png" alt="">
                <img  src="/images/screenshot4.png" alt="">
             </div>
             
             </div>
             <div id="part2">
               <div id="upper">
              
                  <i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img" style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/yx/r/WtxJZZ3-9ZP.png&quot;); background-position: 0px 0px; background-size: 176px 186px; width: 174px; height: 50px; background-repeat: no-repeat; display: inline-block;"></i>
                  <h4>Sign up to see photos and videos from your friends.</h4>
                  <button id="fb-btn"><i class="ri-facebook-box-fill"></i> Log in with Facebook</button>
                  <span></span>
                   <form action="/register" method="post">
                      <input name="email" type="text" placeholder="Mobile number or Email">
                      <input name="name" type="text" placeholder="Full Name">
                     <div>
                        <input id="inpt" name="username" type="text" placeholder="Username">
                       <p id="p">username already exists.</p>
                     </div>
                     <label ><input name="password" type="password" placeholder="password"></label>

                   
                    
                       
                     <button type="submit" id="btn" >Sign up</button>
                    
                  </form>
                  <a><i class="ri-facebook-box-fill"></i> Log in with Facebook</a>
                  <a >Forgot password?</a>
               </div>
               <div id="mid">
                  <h5>Don't have an account? <a href="/">Log in</a></h5>
               </div>
               <div id="lower">
                  <h5>Get the app.</h5>
                  <div id="icon">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=ig_mid%3D2C088634-A40C-4D8F-97BD-3BB139AB0004%26utm_campaign%3DloginPage%26utm_content%3Dlo%26utm_source%3Dinstagramweb%26utm_medium%3Dbadge&pli=1">
                     <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="">

                    </a>
                    <a target="_blank" href="https://www.microsoft.com/en-in/">
                     <img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt="">
                     
                    </a>
                  </div>
               </div>

              
             </div>
        </div>
       </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
   
      var inpt = document.querySelector("#inpt");
      var btn = document.querySelector("#btn");
      var p = document.querySelector("#p");

      inpt.addEventListener("input",async function(){

         if((inpt.value).trim().length > 0){
          var data =await axios.get(`/found/${inpt.value}`);
          
         console.log((inpt.value).trim().length);
         if(data.data.found){
            btn.disabled = true;
            inpt.style.borderColor = 'red';
            p.style.display = 'initial';
         }
         else{
            btn.disabled = false;
            inpt.style.borderColor = 'palegreen';
            p.style.display = 'none';
         }
       }

       else{
         console.log("else");
         inpt.style.borderColor = '#aaaa';
         p.style.display = 'none';
       }

      })
 
    </script>
</body>
</html> 