@font-face {
    font-family: 'roobert';
    src: url('./Roobert.woff2');
   
  }
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
    }
    html,body{
    height: 100%;
    width: 100%;
    }

    #left .icon .h4{
        font-weight: 100 !important;
        font-family: Roobert ;
      
      }
      
    a{
        text-decoration: none;
        color: #fff;
       
        font-weight: 100;
    }
    #main{
       
      width:100%;
      height: 100vh;
      background-color: #000;
     
    }
    #left{
        transition: all ease .4s;
        z-index: 11;
         padding: 20px 10px;
        font-size: 15px;
        color: #fff;
        position: fixed;
        height: 100vh;
        width: 20%;
        background-color: rgb(0, 0, 0);
        border-right: 1px solid #262626;
    }
    #serch-div{
        position: fixed;
        height: 100vh;
        width: 0vh;
        display: none;
        transition: all ease 1s;
        transform: translate(7vh,-3.2vh);
        background-color:black;
       border-left:1px solid #262626 ;
       
    }
    #serch-div #sd-top{
      height: 25vh;
      width: 100%;
      padding: 30px 25px;
      border-bottom: 1px solid#262626;
    }
    #serch-div #sd-top input{
        margin-top: 35px;
        padding: 15px 15px;
        width: 100%;
        background-color: #262626;
        border: none;
        outline: none;
        border-radius: 10px;
        font-weight: 100;
        font-size: 16px;
        color: #fff;
      }
    #serch-div #sd-bottom{
        display: flex;
        flex-direction: column;
        height: 75vh;
        width: 100%;
        padding: 10px 15px;
        overflow: auto;
    }
    #serch-div #sd-bottom #sd-nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    #serch-div #sd-bottom #sd-nav h4:nth-last-child(1){
        color: rgba(0, 0, 255, 0.88);
    }
    #serch-div #sd-bottom .result{
       height: 10vh;
       width: 100%;
       display: flex;
       gap: 10px;
       flex-shrink: 0;
       align-items: center;
    }
    #serch-div #sd-bottom .result .sd-txt h3:nth-last-child(1){
        opacity: .5;
        font-family: gilroy;
    
    }
    #serch-div #sd-bottom .result img{
        height: 7vh;
        width: 7vh;
        border-radius: 50%;
        object-fit: contain;
      
    }
    #serch-div #sd-bottom .result .hatado{
        width: fit-content;
        margin-left:200px ;
    }
    #icon-container{
        padding: 30px 0px;
    }
    #left .icon{
        padding: 0px 10px;
        width: 100;
        height: 9vh;
        display: flex;
        gap: 13px;
        align-items: center;
        transition: all ease .2s;
       
    }
    
    #left .icon:hover{
        background-color: #ffffff2e;
        border-radius: 10px;
    }
    #left .icon:nth-last-child(1) img{
            height: 30px;
            width: 30px;
            object-fit: contain;
            border: 2px solid #fff;
            border-radius: 50%;
            flex-shrink: 0;
    }
    #left .icon:nth-last-child(1) h4{
        letter-spacing: 1px;
        font-weight: 400;
      
    }
    
    #bottom-icon{
        padding: 0px 10px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;
       
        height: 9%;
    }
    #left #bottom-icon:hover{
        background-color: #ffffff2e;
        border-radius: 10px;
    }
    #open{
        display: none;
        padding: 15px 10px;
        position: absolute;
        transform: translate(0,-113%);
        height: 62vh;
        width: 42vh;
        border-radius: 20px;
        background-color:#3C3C3C;
    }
    #open .open-icon{
        padding: 0px 10px;
        height: 8vh;
        display: flex;
        align-items: center;
        gap: 14px;
    }
    #open #logout{
        border-top: 1px solid #989595;
        padding: 0px 10px;
        height: 8vh;
        display: flex;
        align-items: center;
        gap: 14px;
    }
    #open #switch-acc{
        border-top: 1px solid #989595;
        padding: 0px 10px;
        height: 10vh;
        display: flex;
        align-items: center;
        gap: 14px;
       
    }
    #apper{
        display: none;
        position: absolute;
        height: 20vh;
        min-width: 100%;
        border-radius: 15px;
        transform: translate(0%,-135%);
        background-color: #3C3C3C;
    }
    #apper #up{
     height: 50%;
     align-items: center;
     display: flex;
     justify-content: space-between;
     padding: 0px 15px;
    }
    #apper #up h3{
        font-size: 15px;
    }
    #apper #down {
       
        display: flex;
        align-items: center;
        height: 50%;
        border-top: 1px solid #989595;
        justify-content: space-between;
        padding: 10px 15px;
    }
    #apper #down #button{
    
       height: 20px;
       width: 40px;
       border-radius: 50px;
       background-color:#1A9EF3;
    }
    #apper #down #button #circle{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gainsboro;
        transform: translateX(100%);
    }
    #right{
        position: relative;
        min-height: 100vh;
        width: 80.3%;
        transform: translateX(24.5%);
        background-color: #000;
        color: #fff;
        border-left: 1px solid #262626;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    #right #upper{
        position: relative;
        
        height: 55vh;
        width: 100%;
       
    }
    #right #upper #info{
        padding: 35px 50px;
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 7vw;
      
    }
    #right #upper #info #profile-pic{
        height: 25vh;
        width: 25vh;
        border-radius: 50%;
    }
    #right #upper #info #profile-pic img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    #right #upper #info #details{
        width: 50%;
    }
    #right #upper #info #details #user-dets{
        align-items: center;
        gap: 20px;
        display: flex;  
    }
    #right #upper #info #details #user-dets button{
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 10px;
    }
    #right #upper #info  #post-dets{
        display: flex;
        gap: 30px;
        margin-top: 3vh;
    }
    #right #upper #info #bio{
        margin-top: 20px;
    }
    #right #upper #info #bio h6{
        margin-top: 10px;
        width: 50%;
    
    }
    #highlights{
        display: flex;
        align-items: center;
        padding: 0px 50px;
        gap: 30px;
        height: 32%;
        width: 100%;
       
        overflow-x:auto ;
    }
    #highlights .h{
        height: 110px ;
        width: 110px;
        border-radius: 50%;
        background-color: #3C3C3C;
        flex-shrink: 0;
    }
    #bottom{
        min-height: 45vh;
        width: 100%;
        padding:50px 40px;
    }
    #bottom #bottom-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        height: 5vh;
        width: 100%;
        border-top: 2px solid #262626;
    }
    #bottom-nav .nav-icon{
        cursor: pointer;
        gap: 5px;
        display: flex;
        align-items: center;
        color: #929191;
    }
    #bottom-nav .nav-icon svg{
        scale: 1.2;
        fill:#929191;;
    }
    #bottom-nav .nav-icon h5{
       text-transform: uppercase;
    }
    #bottom #saved-container{
        z-index: 999;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0px 6px;
        gap: 6px;
        width: 100%;
        min-height: 100vh;
      
    }
    #bottom #saved-container .post{
        position: relative;
        height: 47vh;
        width: 47vh;
       
        flex-shrink: 0;
    }
    #bottom #saved-container .post .post-overlay{
        
        position: absolute;
        top: 0%;
        height: 100%;
        width: 100%;
        display: none;
        background-color: #00000080;
    }
    #bottom #saved-container .post img{
        height: 100%;
        width: 100%;
        object-fit: contain;

     }
    #bottom #saved-container .post:hover .post-overlay{
        display: flex;
         gap: 25px;
        align-items: center;
        justify-content: center;
    } 
    #bottom #post-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0px 6px;
        gap: 6px;
        row-gap: 12px;
        width: 100%;
        min-height: 100vh;
     }
     #bottom #post-container .post{
         position: relative;
         height: 47vh;
         width: 47vh;
         flex-shrink: 0;
         border-bottom: 1px solid #262626;
     }
     #bottom #post-container .post img{
        height: 100%;
        width: 100%;
        object-fit: contain;

     }
     #bottom #post-container .post .post-overlay{
         
         position: absolute;
         top: 0%;
         height: 100%;
         width: 100%;
         display: none;
         background-color: #00000080;
     }
     #bottom #post-container .post:hover .post-overlay{
         display: flex;
          gap: 25px;
         align-items: center;
         justify-content: center;
     } 